@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

body {
  background-color: $Very-light-gray;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

main {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.7rem;
  max-width: 310px;

  img {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 50px;
  }

  h2 {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    color: $Very-light-gray;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  button {
    background-color: $Very-light-gray;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: all 0.15s;
  }

  button:hover {
    cursor: pointer;
    background-color: transparent;
    outline: 2px $Very-light-gray solid;
    color: $Very-light-gray;
  }

  .button1 {
    color: $Bright-orange;
  }

  .button2 {
    color: $Dark-cyan;
  }

  .button3 {
    color: $Very-dark-cyan;
  }

  p {
    color: $Transparent-white;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.first {
  background-color: $Bright-orange;
  border-radius: 5px 5px 0 0;
}

.second {
  background-color: $Dark-cyan;
}

.third {
  background-color: $Very-dark-cyan;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 800px) {
  main {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: row;
  }

  .first {
    background-color: $Bright-orange;
    border-radius: 5px 0 0 5px;
  }

  .second {
    background-color: $Dark-cyan;
  }

  .third {
    background-color: $Very-dark-cyan;
    border-radius: 0 5px 5px 0;
  }

  .card {
    button {
      background-color: $Very-light-gray;
      border: none;
      width: 120px;
      height: 40px;
      border-radius: 20px;
      font-weight: 700;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
  }
}
